<p>My Base Widget</p>
{{#each count as i}}
<sub />
{{/each}}
<script>
  import sub from './sub.s.html';
  import range from 'range.s.html';

  export default {
    components: {
      sub,
    },
    data () {
      return {
        count: range(20)
      };
    }
  };
</script>