<question bind:answer='answer' />
<answer bind:answer='answer' />
<script>
  import question from './question.s.html';
  import answer from './answer.s.html';

  export default {
    components: {
      question,
      answer,
    },
    data () {
      return {
        count: 0
      };
    }
  };
</script>